.App {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
}
body {
  margin: 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(206, 255, 255),
    rgb(255, 187, 249)
  );
}

.header {
  background-color: black;
  height: 40px;
  color: white;
  width: 100%;
  padding-top: 10px;
}
.link {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.viewer {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
}
.domathContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.sign {
  margin-top: 50%;
  width: 30%;
  height: 25%;
  border-radius: 50%;
  font-size: 30px;
}

.domath {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  font-size: 45px;
}

button {
  width: 140px;
  height: 80px;
  border-radius: 20px;
  margin-top: 100px;
  cursor: pointer;
  font-size: 30px;
}

textarea:focus,
input:focus {
  outline: none;
  font-size: 50px;
}
@media only screen and (max-width: 400px) {
  .sign {
    width: 50%;
    height: 40%;
    margin-top: 40%;
    font-size: 50%;
  }
  .App {
    margin: 0;
    height: 109vh;
  }
  .domathContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    margin: 0;
    background-image: linear-gradient(
      to bottom right,
      rgb(60, 184, 184),
      rgb(92, 22, 86)
    );
  }
  .number {
    width: 30%;
    height: 200%;
    border-radius: 10px;
    font-size: 45px;
  }
}
